/* Univseral styling */
html {
  font-size: 16px;
  font-family: sans-serif;
}
/**************/

/* Header Section */
header {
  background-color: white;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-title {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.icon-title span {
  font-size: 2rem;
  font-weight: 700;
}

.icon-title img {
  width: 3rem;
}

#academy {
  color: #D8D8D8;
  font-weight: 400;
}

.nav .nav-item {
  font-size: 1.5rem;
  margin-right: 1rem;
}

#last-item {
  margin-right: 24px;
}
/****************/

/* Main content 1 */
.main-content-1 {
  background-color: #D8D8D8;
  width: 100%;
  display: flex;
}

.main-content-1-image {
  width: 60%;
  padding: 2rem 1.5rem;
}

.main-content-1-image img {
  width: 100%;
}

.main-content-1-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content-1-text span {
  display: block;
}

.main-content-1 .title {
  font-size: 3.5rem;
  font-weight: 900;
}

.main-content-1 .sub-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
}

.main-content-1 .btn {
  background-color: #4A4A4A;
  width: 87%;
  text-align: center;
  padding: 0.5rem 0;
}

.main-content-1 .btn a {
  color: white;
}
/*****************/

/* Main content 2 */
.main-content-2 {
  display: flex;
  width: 100%;
  margin: 2rem 0;
}

.main-content-2 span {
  display: block;
}

.main-content-2-image {
  width: 60%;
  margin: 0 1.5rem;
}

.main-content-2-image .title {
  font-size: 2.8rem;
  font-weight: 900;
}

.main-content-2-image .sub-title {
  margin: 1.5rem 0;
  font-size: 1.5rem;
}

.main-content-2-image .content {
  font-size: 1.3rem;
}

.main-content-2-image img {
  width: 100%;
  margin-bottom: 2rem;
}

.main-content-2-side {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.main-content-2-side .top,
 .main-content-2-side .middle,
  .main-content-2-side .bottom {
  display: flex;
  width: 100%;
  align-items: center;
}

.main-content-2-side .top .image {
  width: 35%;
  height: auto;
  margin: 1rem;
  margin-top: 0;
}

.main-content-2-side .image {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.main-content-2-side .text {
  width: 65%;
}

.top .image img, .middle .image img, .bottom .image img {
  width: 100%;
}

.top .text .title,
.middle .text .title,
.bottom .text .title {
  font-size: 2rem;
  font-weight: bold;
}

.top .text .content,
.middle .text .content,
.bottom .text .content {
  margin: 0.5rem 0;
  font-size: 1.4rem;
  line-height: 1.4;
}

.top .text .link,
.middle .text .link,
.bottom .text .link {
  font-size: 1.4rem;
}

.top .link a,
.middle .link a,
.bottom .link a {
  color: #5F9CE4;
}
