/* Univseral styling */
html {
  font-size: 16px;
  font-family: sans-serif;
}

img {
  width: 100%;
  height: auto;
}

span {
  display: block;
}

.mobile {
  display: none;
}
/**************/

/* Header Section */
header {
  background-color: white;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-title {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.icon-title span {
  font-size: 2rem;
  font-weight: 700;
  display: inline;
}

.icon-title img {
  width: 3rem;
}

#academy {
  color: #D8D8D8;
  font-weight: 400;
}

.nav .nav-item {
  font-size: 1.5rem;
  margin-right: 1rem;
  display: inline;
}

#last-item {
  margin-right: 24px;
}

.icons {
  display: none;
}

/* Header mobile styling */
@media only screen and (max-width: 480px) {
  .nav {
    display: none;
  }

  .icon-title {
    display: none;
  }

  .icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}
/****************/

/* Main content 1 */
.main-content-1 {
  background-color: #D8D8D8;
  width: 100%;
  display: flex;
}

.main-content-1-image {
  width: 60%;
  padding: 2rem 1.5rem;
}

.main-content-1-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content-1 .title {
  font-size: 3.5rem;
  font-weight: 900;
}

.main-content-1 .sub-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
}

.main-content-1 .btn {
  background-color: #4A4A4A;
  width: 87%;
  text-align: center;
  padding: 0.5rem 0;
}

.main-content-1 .btn a {
  color: white;
}

/* Main content 1 mobile styling */
@media only screen and (max-width: 480px) {
  .main-content-1 {
    flex-direction: column;
  }

  .main-content-1-image {
    width: 100%;
    padding: 0;
  }

  .main-content-1-text {
    width: 100%;
    padding: 2rem 0;
  }

  .main-content-1-text .title {
    font-size: 2rem;
  }

  .main-content-1-text .sub-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .main-content-1-text .title,
  .main-content-1-text .sub-title,
  .main-content-1-text .btn {
    margin-left: 2rem;
  }

}
/*****************/

/* Main content 2 */
.main-content-2 {
  display: flex;
  width: 100%;
  margin: 2rem 0;
}

.main-content-2-image {
  width: 60%;
  margin: 0 1.5rem;
}

.main-content-2-image .title {
  font-size: 2.8rem;
  font-weight: 900;
}

.main-content-2-image .sub-title {
  margin: 1.5rem 0;
  font-size: 1.5rem;
}

.main-content-2-image .content {
  font-size: 1.3rem;
}

.main-content-2-image img {
  margin-bottom: 2rem;
}

.main-content-2-side {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.main-content-2-side .bottom {
  background-color: #D8D8D8;
}

.main-content-2-side .top,
.main-content-2-side .middle,
.main-content-2-side .bottom {
  display: flex;
  width: 100%;
  align-items: center;
}

.main-content-2-side .top .image {
  margin-top: 0;
}

.main-content-2-side .image {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.main-content-2-side .text {
  width: 65%;
}

.main-content-2 .top .text .title,
.main-content-2 .middle .text .title,
.main-content-2 .bottom .text .title {
  font-size: 2rem;
  font-weight: bold;
}

.main-content-2 .top .text .content,
.main-content-2 .middle .text .content,
.main-content-2 .bottom .text .content {
  margin: 0.5rem 0;
  font-size: 1.4rem;
  line-height: 1.4;
}

.top .text .link,
.middle .text .link,
.bottom .text .link {
  font-size: 1.4rem;
}

.top .link a,
.middle .link a,
.bottom .link a {
  color: #5F9CE4;
}

/* Main content 2 mobile styling */
@media only screen and (max-width: 480px) {
  .main-content-2 {
    margin-top: 1rem;
  }

  .main-content-2-image {
    display: none;
  }

  .main-content-2-side {
    width: 100%;
    padding: 0 1rem;
  }

  .main-content-2-side .image {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
  }

  .main-content-2-side .text {
    width: 100%;
    padding-left: 1rem;
    margin-bottom: 2rem;
  }

  .main-content-2-side .bottom .text {
    margin-bottom: 0;
  }

  .main-content-2-side .image img {
    display: none;
  }

  .main-content-2-side .image .mobile {
    display: block;
  }

  .main-content-2-side .top,
  .main-content-2-side .middle,
  .main-content-2-side .bottom {
    flex-direction: column;
    background-color: white;
  }
}
/***************/

/* Main content 3 */
.main-content-3 {
  padding: 2rem 0;
  background-color: #EAEBEC;
}

.main-content-3 .heading {
  font-size: 2.8rem;
  font-weight: 900;
  margin-bottom: 2rem;
  text-align: center;
}

.main-content-3 .boxes-top,
.main-content-3 .boxes-bottom {
  display: flex;
  padding: 0 4.5rem;
}

.boxes-top {
  margin-bottom: 2rem;
}

.boxes-top .text,
.boxes-bottom .text {
  margin: 1rem 1rem 1.5rem 1rem;
  line-height: 1.4;
}

.boxes-top .box-content,
.boxes-bottom .box-content {
  flex: 1;
}

.boxes-bottom .middle-box .courses {
  padding-bottom: 2rem;
}

.middle-box {
  margin: 0 2rem;
}

.box-content {
  background-color: white;
}

.box-content .major {
  font-size: 2rem;
  font-weight: bold;
}

.box-content .title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.box-content .courses {
  font-size: 1.5rem;
}

/* Main content 3 mobile styling */
@media only screen and (max-width: 480px) {
  .main-content-3 {
    background-color: white;
    padding: 2rem 1.5rem;
  }

  .box-content .image {
    display: none;
  }

  .box-content .text .title,
  .box-content .text .courses {
    display: none;
  }

  .main-content-3 .boxes-top,
  .main-content-3 .boxes-bottom {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .main-content-3 .box-content {
    background-color: #D8D8D8;
    margin-bottom: 0.5rem;
  }

  .middle-box {
    margin: 0;
  }

  #last-box {
    margin-bottom: 0;
  }
}
/*****************/

/* Main content 4 */
.main-content-4 {
  padding: 2rem 0;
}

.main-content-4 .heading {
  font-size: 2.8rem;
  font-weight: 900;
  margin-bottom: 2rem;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
}

.video-content {
  width: 60%;
  line-height: 1.4;
  margin-left: 1.5rem;
}

video {
  width: 100%;
}

.video-content .title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.video-content .text-content {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.main-content-4-side {
  width: 40%;
}

.main-content-4-side .top {
  background-color: #D8D8D8;
}

.main-content-4-side .top,
.main-content-4-side .bottom {
  display: flex;
  align-items: center;
}

.main-content-4-side .image {
  width: 40%;
  height: auto;
  margin: 1rem;
}

.main-content-4-side .text {
  width: 65%;
  line-height: 1.4;
}

.main-content-4-side .text .title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.main-content-4-side .text .content {
  font-size: 1.4rem;
}

/* Main content 4 mobile styling */
@media only screen and (max-width: 480px) {
  .main-content-4 {
    padding-bottom: 0;
  }

  .main-content-4 .heading {
    margin-bottom: 1rem;
  }

  .main-content-4 .video-content .title,
  .main-content-4 .video-content .text-content,
  .main-content-4-side {
    display: none;
  }

  .main-content-4 .video-content {
    margin: 0;
    width: 100%;
    line-height: 0;
  }
}
/*******************/

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  border-top: 2px #D8D8D8 solid;
}

.copyright-container {
  margin: 1rem 0 0 1.5rem;
}

.policies {
  margin: 1rem 1.5rem 0 0;
}

.policies span {
  display: inline;
}

.policies span:last-child {
  margin-left: 0.5rem;
}

/* Footer mobile styling */
@media only screen and (max-width: 480px) {
  footer {
    height: 1.5rem;
    justify-content: center;
  }

  footer .policies {
    display: none;
  }

  footer .copyright-container {
    margin: 0;
  }

  .copyright {
    padding: 1rem 0;
  }
}
/*******************/
