/* Univseral styling */
html {
  font-size: 16px;
  font-family: sans-serif;
}

img {
  width: 100%;
  height: auto;
}

span {
  display: block;
}
/**************/

/* Header Section */
header {
  background-color: white;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-title {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.icon-title span {
  font-size: 2rem;
  font-weight: 700;
  display: inline;
}

.icon-title img {
  width: 3rem;
}

#academy {
  color: #D8D8D8;
  font-weight: 400;
}

.nav .nav-item {
  font-size: 1.5rem;
  margin-right: 1rem;
  display: inline;
}

#last-item {
  margin-right: 24px;
}
/****************/

/* Main content 1 */
.main-content-1 {
  background-color: #D8D8D8;
  width: 100%;
  display: flex;
}

.main-content-1-image {
  width: 60%;
  padding: 2rem 1.5rem;
}

.main-content-1-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content-1 .title {
  font-size: 3.5rem;
  font-weight: 900;
}

.main-content-1 .sub-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
}

.main-content-1 .btn {
  background-color: #4A4A4A;
  width: 87%;
  text-align: center;
  padding: 0.5rem 0;
}

.main-content-1 .btn a {
  color: white;
}
/*****************/

/* Main content 2 */
.main-content-2 {
  display: flex;
  width: 100%;
  margin: 2rem 0;
}

.main-content-2-image {
  width: 60%;
  margin: 0 1.5rem;
}

.main-content-2-image .title {
  font-size: 2.8rem;
  font-weight: 900;
}

.main-content-2-image .sub-title {
  margin: 1.5rem 0;
  font-size: 1.5rem;
}

.main-content-2-image .content {
  font-size: 1.3rem;
}

.main-content-2-image img {
  margin-bottom: 2rem;
}

.main-content-2-side {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.main-content-2-side .top,
 .main-content-2-side .middle,
  .main-content-2-side .bottom {
  display: flex;
  width: 100%;
  align-items: center;
}

.main-content-2-side .top .image {
  width: 35%;
  height: auto;
  margin: 1rem;
  margin-top: 0;
}

.main-content-2-side .image {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.main-content-2-side .text {
  width: 65%;
}

.main-content-2 .top .text .title,
.main-content-2 .middle .text .title,
.main-content-2 .bottom .text .title {
  font-size: 2rem;
  font-weight: bold;
}

.main-content-2 .top .text .content,
.main-content-2 .middle .text .content,
.main-content-2 .bottom .text .content {
  margin: 0.5rem 0;
  font-size: 1.4rem;
  line-height: 1.4;
}

.top .text .link,
.middle .text .link,
.bottom .text .link {
  font-size: 1.4rem;
}

.top .link a,
.middle .link a,
.bottom .link a {
  color: #5F9CE4;
}
/***************/

/* Main content 3 */
.main-content-3 {
  padding: 2rem 0;
  background-color: #EAEBEC;
}

.main-content-3 .heading {
  font-size: 2.8rem;
  font-weight: 900;
  margin-bottom: 2rem;
  text-align: center;
}

.main-content-3 .boxes-top,
.main-content-3 .boxes-bottom {
  display: flex;
  padding: 0 4.5rem;
}

.boxes-top {
  margin-bottom: 2rem;
}

.boxes-top .text,
.boxes-bottom .text {
  margin: 1rem 1rem 1.5rem 1rem;
  line-height: 1.4;
}

.boxes-top .box-content,
.boxes-bottom .box-content {
  flex: 1;
}

.boxes-bottom .middle-box .courses {
  padding-bottom: 2rem;
}

.middle-box {
  margin: 0 2rem;
}

.box-content {
  background-color: white;
}

.box-content .major {
  font-size: 2rem;
  font-weight: bold;
}

.box-content .title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.box-content .courses {
  font-size: 1.5rem;
}
/*****************/

/* Main content 4 */
.main-content-4 {
  padding: 2rem 0;
}

.main-content-4 .heading {
  font-size: 2.8rem;
  font-weight: 900;
  margin-bottom: 2rem;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
}

.video-content {
  width: 60%;
  line-height: 1.4;
  margin-left: 1.5rem;
}

video {
  width: 100%;
}

.video-content .title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.video-content .text-content {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.main-content-4-side {
  width: 40%;
}

.main-content-4-side .top {
  background-color: #D8D8D8;
}

.main-content-4-side .top,
.main-content-4-side .bottom {
  display: flex;
  align-items: center;
}

.main-content-4-side .image {
  width: 40%;
  height: auto;
  margin: 1rem;
}

.main-content-4-side .text {
  width: 65%;
  line-height: 1.4;
}

.main-content-4-side .text .title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.main-content-4-side .text .content {
  font-size: 1.4rem;
}
/*******************/
